*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    
}

body{
    background-size: cover;
}
.wrapper{
    font-size: 18px;
   
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    position: absolute;
    left: 43rem;
    top:20rem;
   
    background-color: #ffffff;
    padding: 70px 40px;
    
    transform: translate(-50%,-50%);
    
   
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    height: 50vh;
	
	background-image: url(img.webp);
	background-size: cover;
	
    color: #000000;
    font-size: large;
    font-weight: 700;
    
}
.title{
    /* border: #000000 2px solid; */
    color: rgb(0, 0, 0);

text-shadow: 3px 3px 20px #ff99cc,
    -2px 1px 30px #3a0b02;
    font-size: 2rem;
    margin: auto;
    margin-top: 2rem;
    width: 900px;
padding-right: 5rem;
}
.container{
    font-size: 18px;
    width: 50%;
}
input{
    font-size: 18px;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    border: 4px solid #bd2828;
    outline: none;
    margin-top: 50px;
    padding: 0 10px;
}
input:focus{
    border-color: #3164ff;
}

